In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:
df = pd.read_csv('weather_data.csv')

In [148]:
df.head(5)

,campus_id,timestamp,apparent_temperature,air_temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction
0,1,2018-01-01 00:00:00,16.6,16.2,13.5,84.0,3.6,142.0
1,1,2018-01-01 00:01:00,17.2,16.1,13.6,85.0,0.0,134.0
2,1,2018-01-01 00:02:00,16.9,16.1,13.6,85.0,1.8,130.0
3,1,2018-01-01 00:03:00,16.9,16.1,13.6,85.0,1.8,130.0
4,1,2018-01-01 00:04:00,16.0,16.0,13.5,85.0,5.4,129.0

In [149]:
df.drop(columns=['campus_id', 'dew_point_temperature'], inplace=True)

In [150]:
df

,timestamp,apparent_temperature,air_temperature,relative_humidity,wind_speed,wind_direction
0,2018-01-01 00:00:00,16.6,16.2,84.0,3.6,142.0
1,2018-01-01 00:01:00,17.2,16.1,85.0,0.0,134.0
2,2018-01-01 00:02:00,16.9,16.1,85.0,1.8,130.0
3,2018-01-01 00:03:00,16.9,16.1,85.0,1.8,130.0
4,2018-01-01 00:04:00,16.0,16.0,85.0,5.4,129.0
...,...,...,...,...,...,...
7396515,2022-04-30 21:30:00,7.5,9.7,88.0,NaN,NaN
7396516,2022-04-30 22:00:00,7.4,9.3,90.0,NaN,NaN
7396517,2022-04-30 22:30:00,7.5,9.4,89.0,NaN,NaN
7396518,2022-04-30 23:00:00,7.7,9.2,94.0,NaN,NaN
7396519,2022-04-30 23:30:00,7.6,9.0,99.0,NaN,NaN

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7396520 entries, 0 to 7396519
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   timestamp             object
 1   apparent_temperature  float64
 2   air_temperature       float64
 3   relative_humidity     float64
 4   wind_speed            float64
 5   wind_direction        float64
dtypes: float64(5), object(1)
memory usage: 338.6+ MB

In [152]:
df.isnull().sum()

timestamp                   0
apparent_temperature        0
air_temperature             0
relative_humidity           0
wind_speed              59267
wind_direction          59986
dtype: int64

In [153]:
df.dropna(subset=['wind_speed', 'wind_direction','timestamp'], inplace=True)

In [154]:
df

,timestamp,apparent_temperature,air_temperature,relative_humidity,wind_speed,wind_direction
0,2018-01-01 00:00:00,16.6,16.2,84.0,3.6,142.0
1,2018-01-01 00:01:00,17.2,16.1,85.0,0.0,134.0
2,2018-01-01 00:02:00,16.9,16.1,85.0,1.8,130.0
3,2018-01-01 00:03:00,16.9,16.1,85.0,1.8,130.0
4,2018-01-01 00:04:00,16.0,16.0,85.0,5.4,129.0
...,...,...,...,...,...,...
7386706,2021-01-14 03:36:00,16.0,19.0,63.0,18.4,225.0
7386707,2021-01-14 03:37:00,15.6,19.0,63.0,20.5,215.0
7386708,2021-01-14 03:38:00,16.2,18.9,63.0,16.6,218.0
7386709,2021-01-14 03:39:00,15.4,18.9,63.0,20.5,225.0
7386710,2021-01-14 03:40:00,14.5,19.0,63.0,25.9,204.0

In [155]:
import hashlib
data = "7336534"
reduced_data = hashlib.md5(data.encode()).hexdigest()[:6]  # First 6 chars of hash
print(reduced_data)  # Example: '5a4f3d'

526f85

In [156]:
import ast

In [157]:
def convert_temperature(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['temperature'])
    return L

In [158]:
df

,timestamp,apparent_temperature,air_temperature,relative_humidity,wind_speed,wind_direction
0,2018-01-01 00:00:00,16.6,16.2,84.0,3.6,142.0
1,2018-01-01 00:01:00,17.2,16.1,85.0,0.0,134.0
2,2018-01-01 00:02:00,16.9,16.1,85.0,1.8,130.0
3,2018-01-01 00:03:00,16.9,16.1,85.0,1.8,130.0
4,2018-01-01 00:04:00,16.0,16.0,85.0,5.4,129.0
...,...,...,...,...,...,...
7386706,2021-01-14 03:36:00,16.0,19.0,63.0,18.4,225.0
7386707,2021-01-14 03:37:00,15.6,19.0,63.0,20.5,215.0
7386708,2021-01-14 03:38:00,16.2,18.9,63.0,16.6,218.0
7386709,2021-01-14 03:39:00,15.4,18.9,63.0,20.5,225.0
7386710,2021-01-14 03:40:00,14.5,19.0,63.0,25.9,204.0

In [159]:
df.isna().sum()

timestamp               0
apparent_temperature    0
air_temperature         0
relative_humidity       0
wind_speed              0
wind_direction          0
dtype: int64

In [160]:
df.duplicated().sum()

np.int64(6)

In [161]:
df.drop_duplicates(inplace=True)

In [162]:
df.duplicated().sum()

np.int64(0)

In [163]:
df['apparent_temperature'] = pd.to_numeric(df['apparent_temperature'], errors='coerce')
df['air_temperature'] = pd.to_numeric(df['air_temperature'], errors='coerce')
df['relative_humidity'] = pd.to_numeric(df['relative_humidity'], errors='coerce')
df['wind_speed'] = pd.to_numeric(df['wind_speed'], errors='coerce')
df['wind_direction'] = pd.to_numeric(df['wind_direction'], errors='coerce')
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

In [164]:
missing_data = df.isnull().sum()

In [165]:
print(f"Missing Data:\n{missing_data}\n")

Missing Data:
timestamp               0
apparent_temperature    0
air_temperature         0
relative_humidity       0
wind_speed              0
wind_direction          0
dtype: int64

In [166]:
df['apparent_temperature'].fillna(df['apparent_temperature'].mean(), inplace=True)
df['air_temperature'].fillna(df['air_temperature'].mean(), inplace=True)
df['relative_humidity'].fillna(df['relative_humidity'].mean(), inplace=True)
df['wind_speed'].fillna(df['wind_speed'].mean(), inplace=True)
df['wind_direction'].fillna(df['wind_direction'].mean(), inplace=True)

C:\Users\ashwi\AppData\Local\Temp\ipykernel_2368\1281576530.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['apparent_temperature'].fillna(df['apparent_temperature'].mean(), inplace=True)
C:\Users\ashwi\AppData\Local\Temp\ipykernel_2368\1281576530.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['air_temperature'].fillna(df['air_temperature'].mean(), inplace=True)
C:\Users\ashwi\AppData\Local\Temp\ipykernel_2368\1281576530.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['relative_humidity'].fillna(df['relative_humidity'].mean(), inplace=True)
C:\Users\ashwi\AppData\Local\Temp\ipykernel_2368\1281576530.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['wind_speed'].fillna(df['wind_speed'].mean(), inplace=True)
C:\Users\ashwi\AppData\Local\Temp\ipykernel_2368\1281576530.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['wind_direction'].fillna(df['wind_direction'].mean(), inplace=True)

In [167]:
df.dropna(subset=['apparent_temperature'], inplace=True)

In [168]:
df.drop_duplicates(inplace=True)

In [169]:
from scipy import stats

In [170]:
z_scores = np.abs(stats.zscore(df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_speed', 'wind_direction']]))
df = df[(z_scores < 3).all(axis=1)]

In [171]:
Q1 = df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_speed', 'wind_direction']].quantile(0.25)
Q3 = df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_speed', 'wind_direction']].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_speed', 'wind_direction']] < (Q1 - 1.5 * IQR)) | 
          (df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_speed', 'wind_direction']] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [172]:
df['hour'] = df['timestamp'].dt.hour
df['day_of_week'] = df['timestamp'].dt.dayofweek
df['month'] = df['timestamp'].dt.month

In [173]:
df.drop('timestamp', axis=1, inplace=True)

In [174]:
df = df.apply(pd.to_numeric, errors='ignore')

C:\Users\ashwi\AppData\Local\Temp\ipykernel_2368\1277559549.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

In [175]:
# Load the data (replace with your actual file path)
df = pd.read_csv('weather_data.csv')

# Keep only the first 500,000 rows
df_reduced = df[:500000]

# Verify the size of the new data
print(df_reduced.shape)

(500000, 8)

In [176]:
df

,campus_id,timestamp,apparent_temperature,air_temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction
0,1,2018-01-01 00:00:00,16.6,16.2,13.5,84.0,3.6,142.0
1,1,2018-01-01 00:01:00,17.2,16.1,13.6,85.0,0.0,134.0
2,1,2018-01-01 00:02:00,16.9,16.1,13.6,85.0,1.8,130.0
3,1,2018-01-01 00:03:00,16.9,16.1,13.6,85.0,1.8,130.0
4,1,2018-01-01 00:04:00,16.0,16.0,13.5,85.0,5.4,129.0
...,...,...,...,...,...,...,...,...
7396515,5,2022-04-30 21:30:00,7.5,9.7,7.8,88.0,NaN,NaN
7396516,5,2022-04-30 22:00:00,7.4,9.3,7.7,90.0,NaN,NaN
7396517,5,2022-04-30 22:30:00,7.5,9.4,7.7,89.0,NaN,NaN
7396518,5,2022-04-30 23:00:00,7.7,9.2,8.3,94.0,NaN,NaN
7396519,5,2022-04-30 23:30:00,7.6,9.0,8.9,99.0,NaN,NaN

In [182]:
df = df.drop(columns=['campus_id', 'dew_point_temperature'], errors='ignore')

In [183]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [187]:
df = pd.read_csv('weather_data.csv')

In [189]:
if 'timestamp' not in df.columns:
    raise KeyError("The 'timestamp' column is missing from the dataset.")

In [ ]:
if data['timestamp'].isnull().any():
    print("Warning: Some rows have invalid or missing datetime values. Dropping these rows.")
    data = data.dropna(subset=['timestamp'])

In [191]:
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')  # Handle invalid values

In [192]:
df['hour'] = df['timestamp'].dt.hour
df['month'] = df['timestamp'].dt.month

In [193]:
print(df[['timestamp', 'hour', 'month']].head())

            timestamp  hour  month
0 2018-01-01 00:00:00     0      1
1 2018-01-01 00:01:00     0      1
2 2018-01-01 00:02:00     0      1
3 2018-01-01 00:03:00     0      1
4 2018-01-01 00:04:00     0      1

In [ ]:
data.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   campus_id              500000 non-null  int64
 1   timestamp              500000 non-null  datetime64[ns]
 2   apparent_temperature   500000 non-null  float64
 3   air_temperature        500000 non-null  float64
 4   dew_point_temperature  500000 non-null  float64
 5   relative_humidity      500000 non-null  float64
 6   wind_speed             496002 non-null  float64
 7   wind_direction         495947 non-null  float64
 8   hour                   500000 non-null  int32
 9   month                  500000 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(2), int64(1)
memory usage: 34.3 MB

In [194]:
print(f"Cleaned Data:\n{df.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7396520 entries, 0 to 7396519
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   campus_id              int64
 1   timestamp              datetime64[ns]
 2   apparent_temperature   float64
 3   air_temperature        float64
 4   dew_point_temperature  float64
 5   relative_humidity      float64
 6   wind_speed             float64
 7   wind_direction         float64
 8   hour                   int32
 9   month                  int32
dtypes: datetime64[ns](1), float64(6), int32(2), int64(1)
memory usage: 507.9 MB
Cleaned Data:
None

In [195]:
from sklearn.preprocessing import StandardScaler

In [196]:
scaler = StandardScaler()
df_scaled = df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_speed']]
df_scaled = scaler.fit_transform(df_scaled)

In [197]:
df.to_csv('cleaned_data.csv', index=False)

In [198]:
df = pd.read_csv('cleaned_data.csv')

In [199]:
df = pd.read_csv('cleaned_data.csv')  # Replace with your actual file path

# Randomly sample 500,000 rows
df = df.sample(n=500000, random_state=42)  # random_state ensures reproducibility

# Save the reduced dataset to a new CSV file (optional)
df.to_csv('cleaned_data.csv', index=False)

# Verify the shape of the new data
print(df.shape)

(500000, 10)

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 5464223 to 1983748
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   campus_id              500000 non-null  int64
 1   timestamp              500000 non-null  object
 2   apparent_temperature   500000 non-null  float64
 3   air_temperature        500000 non-null  float64
 4   dew_point_temperature  500000 non-null  float64
 5   relative_humidity      500000 non-null  float64
 6   wind_speed             496002 non-null  float64
 7   wind_direction         495947 non-null  float64
 8   hour                   500000 non-null  int64
 9   month                  500000 non-null  int64
dtypes: float64(6), int64(3), object(1)
memory usage: 42.0+ MB

In [201]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
import pickle
import os

In [202]:
df = pd.read_csv('cleaned_data.csv')  # Replace with your reduced dataset file path

In [203]:
if not os.path.exists('cleaned_data.csv'):
        raise FileNotFoundError(f"Data file not found at {'cleaned_data.csv'}")

In [204]:
df = pd.read_csv('cleaned_data.csv')

In [207]:
df

,campus_id,timestamp,apparent_temperature,air_temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction,hour,month
0,3,2021-04-22 11:45:00,11.1,14.8,7.8,63.0,16.6,348.0,11,4
1,1,2020-07-27 22:36:00,9.0,11.5,11.3,99.0,14.8,189.0,22,7
2,3,2019-07-27 02:08:00,9.3,9.4,9.4,100.0,0.0,145.0,2,7
3,1,2018-04-16 11:37:00,15.0,20.5,12.0,58.0,31.3,273.0,11,4
4,2,2018-10-01 07:50:00,7.3,10.4,5.8,73.0,11.2,87.0,7,10
...,...,...,...,...,...,...,...,...,...,...
499995,4,2018-01-08 17:06:00,29.7,32.4,9.2,24.0,13.0,263.0,17,1
499996,3,2019-09-06 07:24:00,5.7,7.7,5.8,88.0,5.4,285.0,7,9
499997,1,2018-12-17 04:56:00,15.5,14.2,14.4,100.0,0.0,27.0,4,12
499998,1,2020-08-17 22:34:00,9.4,12.2,7.3,72.0,11.2,344.0,22,8
499999,2,2018-04-13 09:26:00,19.6,20.3,11.2,56.0,5.4,144.0,9,4

In [209]:
X = df[['apparent_temperature', 'air_temperature', 'relative_humidity', 
        'wind_speed', 'wind_direction']]  # Features
y = df[['hour', 'month']]  # Use both 'hour' and 'month' as target variables (if needed)

In [211]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [213]:
from sklearn.ensemble import RandomForestRegressor

In [217]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [215]:
model = GradientBoostingRegressor()

In [223]:
# Check if any NaN values are present in X or y
print(X.isna().sum())  # To see the count of NaN values in each feature
print(y.isna().sum())  # To see the count of NaN values in the target variable

apparent_temperature    0
air_temperature         0
relative_humidity       0
wind_speed              0
wind_direction          0
dtype: int64
hour     0
month    0
dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [225]:
X = X.dropna()
y = y.loc[X.index]  # Ensure y matches X's rows after dropping NaN values

In [226]:
from sklearn.impute import SimpleImputer

In [227]:
imputer = SimpleImputer(strategy='mean')

In [228]:
X = imputer.fit_transform(X)
y = imputer.fit_transform(y)  # If you have NaNs in y as well

In [230]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [231]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [237]:
y = df[['hour', 'month']]  # Replace with the actual target column names

In [238]:
print(y.shape)  # This should print (396757, 2)

(500000, 2)

In [239]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [240]:
base_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

In [241]:
multi_target_model = MultiOutputRegressor(base_model)

In [248]:
file_path = 'path/to/your/directory/cleaned_data.csv'

In [249]:
os.makedirs(os.path.dirname(file_path), exist_ok=True)

In [258]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

In [259]:
X = df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_speed', 'wind_direction']]
y = df['hour']  # Select the correct target column

In [260]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [262]:
print(X.isnull().sum())  # Count NaNs in each column of X

apparent_temperature       0
air_temperature            0
relative_humidity          0
wind_speed              3998
wind_direction          4053
dtype: int64

In [263]:
X = X.dropna()
y = y.loc[X.index]  # Ensure y matches the filtered X

In [264]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')  # Replace 'mean' with 'median' if desired
X = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)

In [266]:
df = df.dropna()

In [274]:
df.isnull().sum()

campus_id                0
timestamp                0
apparent_temperature     0
air_temperature          0
dew_point_temperature    0
relative_humidity        0
wind_direction           0
hour                     0
month                    0
dtype: int64

In [278]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [279]:
base_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

In [280]:
model = MultiOutputRegressor(base_model)

In [285]:
# Define features (X) and targets (y)
X = df[['apparent_temperature', 'air_temperature', 'relative_humidity', 'wind_direction']]
y = df[['hour', 'month']]  # Include both target columns

In [286]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check shapes
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)

X_train shape: (396757, 4)
y_train shape: (396757, 2)

In [287]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

# Initialize base model
base_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

# Wrap with MultiOutputRegressor
model = MultiOutputRegressor(base_model)

# Train the model
model.fit(X_train, y_train)

# Predict on test data
predictions = model.predict(X_test)

# Extract individual predictions
hour_predictions = predictions[:, 0]  # First column: hour
month_predictions = predictions[:, 1]  # Second column: month

In [288]:
import numpy as np

# If y is a single-column structure, reshape it
if len(y.shape) == 1:
    y = np.expand_dims(y, axis=1)

In [289]:
# Ensure y is a DataFrame with two columns
if isinstance(y, pd.Series):
    y = pd.DataFrame(y)

In [290]:
print(df.columns)  # Check for 'hour' and 'month' columns

Index(['campus_id', 'timestamp', 'apparent_temperature', 'air_temperature',
       'dew_point_temperature', 'relative_humidity', 'wind_direction', 'hour',
       'month'],
      dtype='object')

In [292]:
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

In [293]:
if df['timestamp'].isna().any():
    print("Invalid or missing timestamp values found.")

In [294]:
df = df.dropna(subset=['timestamp'])  # Drop rows with NaT

In [295]:
df['hour'] = df['timestamp'].dt.hour
df['month'] = df['timestamp'].dt.month

In [296]:
print(y_train.shape)  # Should be (n_samples, 2)

(396757, 2)

In [298]:
import numpy as np

y = np.squeeze(y)  # Removes dimensions of size 1
print(y.shape)  # Should now be (495947, 2) if you're working with two target columns

(495947, 2)

In [299]:
df_y = pd.DataFrame(y, columns=['hour', 'month'])  # Replace with actual column names

In [252]:
with open('cleaned_data.csv', 'wb') as f:
    pickle.dump(model, f)

In [254]:
print(f"Model saved to {'cleaned_data.csv'}")

Model saved to cleaned_data.csv

In [255]:
if __name__ == "__main__":
    # Path to your dataset CSV file
    data_file = "temperature_data.csv"

In [256]:
# Train the model
train_temperature_model(data_file)

In [301]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

# Initialize base regressor
base_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

# Wrap with MultiOutputRegressor
model = MultiOutputRegressor(base_model)

# Train the model
model.fit(X_train, y_train)

# Predict
predictions = model.predict(X_test)
hour_predictions = predictions[:, 0]  # First column: hour
month_predictions = predictions[:, 1]  # Second column: month

In [302]:
import pickle
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
import pandas as pd

# Example dataset
data = pd.DataFrame({
    "feature1": [1, 2, 3, 4, 5],
    "feature2": [5, 4, 3, 2, 1],
    "target": [1, 2, 3, 4, 5]
})

# Splitting into features and target
X = data[["feature1", "feature2"]]
y = data["target"]

# Splitting into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define and train the model
model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
model.fit(X_train, y_train)

# Save the model
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

print("Model saved successfully.")

Model saved successfully.

In [306]:
import pickle

# Save the model directly in the current directory
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

print("Model saved successfully in the current directory.")

Model saved successfully in the current directory.

In [307]:
import os
import pickle

# Define the target directory and file path
save_dir = 'models'  # Change 'models' to your desired folder name
file_path = os.path.join(save_dir, 'model.pkl')

# Create the directory if it does not exist
os.makedirs(save_dir, exist_ok=True)

# Save the model
with open(file_path, 'wb') as f:
    pickle.dump(model, f)

print(f"Model saved successfully at {file_path}.")

Model saved successfully at models\model.pkl.

In [308]:
save_dir = 'models'
print(f"Directory to save: {save_dir}")
print(f"File path: {os.path.join(save_dir, 'model.pkl')}")

Directory to save: models
File path: models\model.pkl

In [309]:
print("Model object:", model)

Model object: GradientBoostingRegressor(random_state=42)

In [313]:
import pickle
import os
from sklearn.ensemble import GradientBoostingRegressor
import pandas as pd

# Assuming your data is prepared and split into X_train and y_train
# For example, let's create dummy data:
# X_train = pd.DataFrame(...)  # your feature data
# y_train = pd.DataFrame(...)  # your target data

# Train a GradientBoostingRegressor model
model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
model.fit(X_train, y_train)

# Ensure the model is trained before saving
if model:
    # Define the file path
    save_dir = 'models'
    os.makedirs(save_dir, exist_ok=True)
    file_path = os.path.join(save_dir, 'model.pkl')

    # Save the model using pickle
    with open(file_path, 'wb') as f:
        pickle.dump(model, f)
    print(f"Model saved successfully at {file_path}.")
else:
    print("Model not trained. Please check the training process.")

Model saved successfully at models\model.pkl.

In [314]:
import os

# Check if model file exists
file_path = 'models/model.pkl'
if os.path.exists(file_path) and os.path.getsize(file_path) > 0:
    print(f"File exists and is valid: {file_path}")
else:
    print(f"Error: {file_path} does not exist or is empty. Please check your model saving process.")

File exists and is valid: models/model.pkl

In [315]:
import pickle

# Define the file path
file_path = 'models/model.pkl'

try:
    # Load the model from the file
    with open(file_path, 'rb') as f:
        model = pickle.load(f)
    print("Model loaded successfully.")
except FileNotFoundError:
    print(f"Error: {file_path} does not exist. Please check the path.")
except EOFError:
    print(f"Error: The file at {file_path} is empty or corrupted.")
except Exception as e:
    print(f"An error occurred: {e}")

Model loaded successfully.

In [316]:
print(f"Trained Model: {model}")

Trained Model: GradientBoostingRegressor(random_state=42)

In [317]:
import pickle
import os
from sklearn.ensemble import GradientBoostingRegressor
import pandas as pd
import numpy as np

# Creating a simple dataset for the demonstration
X_train = pd.DataFrame(np.random.rand(100, 5), columns=['feat1', 'feat2', 'feat3', 'feat4', 'feat5'])
y_train = pd.DataFrame(np.random.rand(100, 1), columns=['target'])

# Train the model
model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
model.fit(X_train, y_train)

# Save the trained model
save_dir = 'models'
os.makedirs(save_dir, exist_ok=True)
file_path = os.path.join(save_dir, 'model.pkl')

# Ensure the model is trained and then save it
if model:
    with open(file_path, 'wb') as f:
        pickle.dump(model, f)
    print(f"Model saved successfully at {file_path}.")

# Load the model
try:
    with open(file_path, 'rb') as f:
        loaded_model = pickle.load(f)
    print("Model loaded successfully.")
except FileNotFoundError:
    print(f"Error: {file_path} does not exist. Please check the path.")
except EOFError:
    print(f"Error: The file at {file_path} is empty or corrupted.")
except Exception as e:
    print(f"An error occurred: {e}")

Model saved successfully at models\model.pkl.
Model loaded successfully.

c:\Users\ashwi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\ensemble\_gb.py:668: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?